body.horizontal {
  display: flex;
  flex-direction: row;
  width: 600vw;
  font-family: Helvetica;
}

section.horizontal, header.horizontal {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.green {
  background-color: green;
}

section.blue {
  background-color: blue;
}

section.brown {
  background-color: brown;
}