<div class="overlay"></div>
<div class="content">
  <h1 class="headline">{{gallery.headline}}</h1>

  <div class="polaroid-images">
<<<<<<< HEAD
    <a href="" title="Base Camp"><img height="200" src="pictures/camping.jpg" alt="Camping" title="Cave" /></a>
    <a href="" title="Mirror"><img height="200" src="pictures/paisaje.jpg" alt="Cave" title="Cave" /></a>
    <a href="" title="Good Morning"><img height="200" src="pictures/morning.jpg" alt="Cave" title="Cave" /></a>
    <a href="" title="Canoes"><img height="200" src="pictures/canoa.jpg" alt="Canoes" title="Cave" /></a>
    <a href="" title="Just walk!"><img height="200" src="pictures/paseo.jpg" alt="Just Walk" title="Cave" /></a>
    <a href="" title="Sharon and Dani"><img height="200" src="pictures/sharonanddani.jpg" alt="Sharon and Dani" title="" /></a>
=======
    <a href="" title="Base camp"><img height="180" src="images/camping.jpg" alt="tent" /></a>
    <a href="" title="Reflections"><img height="180" src="images/paisaje.jpg" alt="reflections"/></a>
    <a href="" title="Good morning!"><img height="180" src="images/morning.jpg" alt="morning"/></a>
    <a href="" title="Canoeing at dusk"><img height="180" src="images/canoa.jpg" alt="canoe"/></a>
    <a href="" title="A walk in the woods"><img height="180" src="images/paseo.jpg" alt="walking"/></a>
    <a href="" title="Sharon and Dani"><img height="180" src="images/pilgrims.jpg" alt="Sharon and Dani"/></a>
>>>>>>> a5fc7fd06d6e0edf5d0a3abf7f1f8ec0852ef9fd
  </div>
</div>
