<div id="dani" class="member">
  <div class="team-picture">
    <img src="pictures/dani.jpg" alt="Dani">
  </div>
  <p>{{team.dani}}</p>
</div>
<div id="sharon" class="member">
  <div class="team-picture">
    <img src="pictures/sharon.jpg" alt="Sharon">
  </div>
  <p>{{team.sharon}}</p>
</div>